# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment variables
.env

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Streamlit
.streamlit/secrets.toml

ai-knowledge-assistant
ai-knowledge-assistant.pub